fieldset {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
.vjs-menu li.vjs-selected,.vjs-menu li.vjs-selected:focus,.vjs-menu li.vjs-selected:hover {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-user-select:none;
    user-select:none;
    -moz-user-select:none;
    -ms-user-select:none
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
::-moz-selection {
::selection {
.ios-checkbox {
.ios-checkbox:focus {
.ios-checkbox:checked {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-user-select:none
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-user-select:none
.select2-results {
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-user-select:none
.select2-results {
.select2-results {
.select2-selection__rendered {
.select--inline {
.select--solid {
.select.bordered {
    .select.bordered {
.select.bordered.no-border-left {
.select.bordered.no-border-right {
.select.bordered.no-border-bottom {
.select.bordered .selected {
    .select.bordered .selected {
    .select.bordered .selected {
.select.bordered--checkout {
.select.bordered--checkout .selection.needsclick {
.select.bordered--checkout .select2-selection__rendered {
    .select.bordered--checkout .select2-selection__rendered {
    .select.bordered--checkout .select2-selection__rendered {
    .select.bordered--checkout .select2-selection__rendered {
.select.bordered--checkout .select2-selection__rendered:before {
.select.full-height {
.select.is-mobile {
.select.is-mobile.filter {
.select.is-mobile.filter select {
.select.is-mobile.full-height {
.select.is-mobile.full-height select {
.select.is-mobile select {
    .select.is-mobile select {
    .select.is-mobile select {
    .select.is-mobile select {
    .select.is-mobile select {
    .select.is-mobile select {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
