



footer {
  font-size: 13px;
  line-height: 1.8em;
  color: var(--fotT);
  padding: 40px 0 20px;
}

.footer {
  padding: 20px;
  background: var(--fotB);
  box-shadow: 0 5px 35px rgba(0, 0, 0, .1);
  border-radius: 10px;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer .credit a {
  overflow: hidden;
  text-overflow: ellipsis;
}

footer .credit a svg {
  width: 20px; /* SVG լայնությունը */
  height: 20px; /* SVG բարձրությունը */
  fill: var(--fotT); /* Գույն */
  stroke: var(--fotT); /* Կես գիծ */
  padding-top: 3px;
  margin-left: 5px; /* Փոքր ներս բերում լև ու աջ */
  margin-right: 5px;
}


footer .mSoc svg {
  width: 24px; /* Կատարելապես ցույց տալու համար ավելի մեծ չափեր */
  height: 24px;
  fill: var(--fotT);
  stroke: var(--fotT);
  margin-left: 5px; /* Թեթև ներքին մաս */
  margin-right: 5px;
}

.cdtIn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: calc(100%);
  left: 0;
  right: 0;
}

.cdtIn > * {
  margin: 0 0;
}

.cdtIn .HTML {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cdtIn .PageList {
  flex-shrink: 0;
  position: relative;
}

.cdtIn .mSoc {
  display: flex;
  justify-content: flex-end;
}

.fotCd {
  position: relative;
  display: inline;
}

.fotCd .creator {
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: -22px;
}

.ftL {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  width: calc(100% + 8px);
  left: -4px;
  right: -4px;
}

.ftL > * {
  margin-right: 8px;
}

.ftL svg {
  width: 20px;
  height: 20px;
  stroke: var(--fotT);
  margin-left: 5px; /* Կարիք ունեցող փոփոխություն */
  margin-right: 5px;
}

.ftL svg.u {
  width: 14px;
  height: 14px;
  margin-left: 5px;
  margin-right: 5px;
}

@media screen and (min-width: 641px) {
  .ftL {
      display: none;
  }

  .ftMn, .ftMn li {
      display: inline-flex;
      align-items: baseline;
  }

  .ftMn > *:not(:last-child)::after {
      content: '\00B7';
      opacity: .7;
      margin: 0 10px;
  }

  .ftMn span {
      opacity: .6;
  }

  .ftMn a {
      opacity: .8;
  }

  .ftMn a:hover {
      color: var(--linkC);
  }
}

@media screen and (max-width: 640px) {
  .cdtIn {
      align-items: center;
  }

  .cdtIn .PageList {
      margin-left: auto;
  }

  .cdtIn .mSoc > *:nth-child(4) {
      display: none;
  }

  .ftMn {
      position: absolute;
      bottom: 0;
      right: 4px;
      width: 180px;
      background: var(--contentB);
      box-shadow: 0 5px 25px -3px rgba(0, 0, 0, .1);
      font-size: 14px;
      transition: var(--trans-1);
      border-radius: 16px 16px 5px 16px;
      z-index: 2;
      opacity: 0;
      visibility: hidden;
  }

  .ftMn li > * {
      display: block;
      padding: 8px 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      opacity: .8;
      line-height: normal;
  }

  .ftMn li:first-child > * {
      padding-top: 15px;
  }

  .ftMn li:last-child > * {
      padding-bottom: 15px;
  }

  .ftI:checked ~ .ftMn,
  .ftI:checked ~ .fCls {
      opacity: 1;
      visibility: visible;
      z-index: 12;
  }

  .ftI:checked ~ .fCls {
      z-index: 11;
  }
}